* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    
}

#ramen-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ramen-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#ramen-details{
    position: relative;
    display: inline-block;
}

.wrap-image{
    display: flex;
    justify-content: center;
    align-items: center;

    #ramen-restaurant{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 20px;
    background-color: beige;
    color: black;
    }
}

#ramen-name{
    position: absolute;
    bottom: 50px;
    left: 20px;
    font-size: 20px;
    background-color: beige;
    color: black;
}



#ramen-image{
    display: block;
    margin: auto;
    height: 500px;
    width: 500px;
    padding: 10px;

}


#new-ramen{
    display: flex;
    justify-content: center;
    height: 23%;
    width: 23%;
    margin: 0 auto;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0px;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ramen-comment{
    padding-bottom: 10px;
}

#ramen-form{
    width:300px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    
}

label{
    font-weight: bold;
    display: block;
    margin-top: 0;
    padding: 0;
}

input{
    display: block;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

#ramen_comment{
    padding: 30px;
}
button{
    width: 100px;
    padding-left: 140px;
    padding-right: 150px;
    padding-top: 5px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 100%;
    display: block;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
}






